PyMySQL
requests
kurigram
pyromod
TgCrypto

asyncio
APScheduler
pykeyboard-kurigram
humanize
cacheout
SQLAlchemy
pytz
Pillow
pydantic
loguru
numpy
cn2an
fastapi
starlette
uvicorn
python-multipart
aiohttp